In [1]:
import pandas as pd
import numpy as np
import utm

In [2]:
raw_data = pd.read_csv('/Users/cbc/Project/Python/DAMCourse/Assignment3/hwphase2data_update/train_2g.csv')

In [3]:
gongcan = pd.read_csv('/Users/cbc/Project/Python/DAMCourse/Assignment3/hwphase2data_update/gongcan.csv')

In [4]:
for i, v in enumerate(raw_data.iloc[0]):
    print(str(i) + " " + str(v))

0 0.0
1 861374033830412.0
2 460012796993062.0
3 1507627346.0
4 6188.0
5 26050.0
6 -79.0
7 17.0
8 4.0
9 6188.0
10 27394.0
11 -83.0
12 15.0
13 4.0
14 6182.0
15 41139.0
16 -83.0
17 15.0
18 4.0
19 6188.0
20 26049.0
21 -81.0
22 16.0
23 4.0
24 6188.0
25 27378.0
26 -91.0
27 11.0
28 3.0
29 6188.0
30 27377.0
31 -87.0
32 13.0
33 4.0
34 121.21361016
35 31.28926598
36 23.0
37 3.0
38 0.68

In [5]:
new_data = raw_data.values

In [6]:
for mr in new_data:
    temp = gongcan[(gongcan['RNCID'] == mr[4]) & (gongcan['CellID'] == mr[5])]
    utm1, utm2, _, _ = utm.from_latlon(temp['Latitude'].values[0], temp['Longitude'].values[0])
    mr[4] = utm1-328770
    mr[5] = utm2-3462224
    if -999 in mr[9:14]:
        mr[9:14] = mr[4:9]
    else:
        temp = gongcan[(gongcan['RNCID'] == mr[9]) & (gongcan['CellID'] == mr[10])]
        utm1, utm2, _, _ = utm.from_latlon(temp['Latitude'].values[0], temp['Longitude'].values[0])
        mr[9] = utm1-328770
        mr[10] = utm2-3462224
    if -999 in mr[14:19]:
        mr[14:19] = mr[4:9]
    else:
        temp = gongcan[(gongcan['RNCID'] == mr[14]) & (gongcan['CellID'] == mr[15])]
        utm1, utm2, _, _ = utm.from_latlon(temp['Latitude'].values[0], temp['Longitude'].values[0])
        mr[14] = utm1-328770
        mr[15] = utm2-3462224
    if -999 in mr[19:24]:
        mr[19:24] = mr[4:9]
    else:
        temp = gongcan[(gongcan['RNCID'] == mr[19]) & (gongcan['CellID'] == mr[20])]
        utm1, utm2, _, _ = utm.from_latlon(temp['Latitude'].values[0], temp['Longitude'].values[0])
        mr[19] = utm1-328770
        mr[20] = utm2-3462224
    if -999 in mr[24:29]:
        mr[24:29] = mr[4:9]
    else:
        temp = gongcan[(gongcan['RNCID'] == mr[24]) & (gongcan['CellID'] == mr[25])]
        utm1, utm2, _, _ = utm.from_latlon(temp['Latitude'].values[0], temp['Longitude'].values[0])
        mr[24] = utm1-328770
        mr[25] = utm2-3462224
    if -999 in mr[29:34]:
        mr[29:34] = mr[4:9]
    else:
        temp = gongcan[(gongcan['RNCID'] == mr[29]) & (gongcan['CellID'] == mr[30])]
        utm1, utm2, _, _ = utm.from_latlon(temp['Latitude'].values[0], temp['Longitude'].values[0])
        mr[29] = utm1-328770
        mr[30] = utm2-3462224

In [7]:
raw_data.head()

,TrajID,IMEI,IMSI,MRTime,RNCID_1,CellID_1,Dbm_1,AsuLevel_1,SignalLevel_1,RNCID_2,...,RNCID_6,CellID_6,Dbm_6,AsuLevel_6,SignalLevel_6,Longitude,Latitude,Altitude,Accuracy,Speed
0,0,861374033830412,460012796993062,1507627346,6188,26050,-79,17,4,6188,...,6188,27377,-87,13,4,121.213610,31.289266,23.0,3.0,0.68
1,0,861374033830412,460012796993062,1507627351,6188,26051,-75,19,4,6188,...,6188,27377,-87,13,4,121.213575,31.289228,-7.0,8.0,0.00
2,0,861374033830412,460012796993062,1507627356,6188,26051,-75,19,4,6188,...,6188,27377,-87,13,4,121.213583,31.289263,1.0,5.0,0.00
3,0,861374033830412,460012796993062,1507627359,6188,26051,-73,20,4,6188,...,6188,27377,-85,14,4,121.213605,31.289285,-5.0,7.0,0.00
4,0,861374033830412,460012796993062,1507627362,6188,26051,-73,20,4,6188,...,6188,27377,-83,15,4,121.213596,31.289288,-1.0,4.0,0.00

In [8]:
new_df = pd.DataFrame(data=new_data, columns=raw_data.columns)

In [9]:
new_df.head()

,TrajID,IMEI,IMSI,MRTime,RNCID_1,CellID_1,Dbm_1,AsuLevel_1,SignalLevel_1,RNCID_2,...,RNCID_6,CellID_6,Dbm_6,AsuLevel_6,SignalLevel_6,Longitude,Latitude,Altitude,Accuracy,Speed
0,0.0,8.613740e+14,4.600128e+14,1.507627e+09,950.543832,722.936620,-79.0,17.0,4.0,581.950099,...,1646.573534,1179.799282,-87.0,13.0,4.0,121.213610,31.289266,23.0,3.0,0.68
1,0.0,8.613740e+14,4.600128e+14,1.507627e+09,1210.001824,837.122239,-75.0,19.0,4.0,581.950099,...,1646.573534,1179.799282,-87.0,13.0,4.0,121.213575,31.289228,-7.0,8.0,0.00
2,0.0,8.613740e+14,4.600128e+14,1.507627e+09,1210.001824,837.122239,-75.0,19.0,4.0,581.950099,...,1646.573534,1179.799282,-87.0,13.0,4.0,121.213583,31.289263,1.0,5.0,0.00
3,0.0,8.613740e+14,4.600128e+14,1.507627e+09,1210.001824,837.122239,-73.0,20.0,4.0,581.950099,...,1646.573534,1179.799282,-85.0,14.0,4.0,121.213605,31.289285,-5.0,7.0,0.00
4,0.0,8.613740e+14,4.600128e+14,1.507627e+09,1210.001824,837.122239,-73.0,20.0,4.0,581.950099,...,1646.573534,1179.799282,-83.0,15.0,4.0,121.213596,31.289288,-1.0,4.0,0.00

In [10]:
new_df.to_csv('/Users/cbc/Project/Python/DAMCourse/Assignment3/hwphase2data_update/new_train.csv')

In [ ]:
data = pd.read_csv('hwphase2data_update/new_train.csv')

X = [
    np.array([[mr[4:9],
               mr[9:14] if -999 not in mr[9:14] else mr[4:9],
               mr[14:19] if -999 not in mr[14:19] else mr[4:9],
               mr[19:24] if -999 not in mr[19:24] else mr[4:9],
               mr[24:29] if -999 not in mr[24:29] else mr[4:9],
               mr[29:34] if -999 not in mr[29:34] else mr[4:9]]]).T for mr in data.values
]
X = np.array(X)

In [ ]:
X