In [1]:
import pandas as pd
import numpy as np
import utm

In [2]:
left_down_x, left_down_y, zone_number, zone_letter = utm.from_latlon(31.281, 121.201)

right_up_x, right_up_y, _, _ = utm.from_latlon(31.293, 121.218)

In [3]:
print(left_down_x)
print(left_down_y)
print(right_up_x)
print(right_up_y)
print(zone_letter)
print(zone_number)

328749.16404297145
3462140.7252702857
330389.1687584914
3463444.713644251
R
51

In [4]:
X = [x for x in range(328749, 330390, 50)]
Y = [y for y in range(3462140, 3463445, 50)]

In [5]:
len(X)

33

In [6]:
len(Y)

27

In [7]:
data = []

In [8]:
for x in X:
    for y in Y:
        data.append([x, y])

In [9]:
len(data)

891

In [10]:
grid = pd.DataFrame(data=data, columns=['x','y'])

In [11]:
grid.to_csv('/Users/cbc/Project/Python/DAMCourse/Assignment3/hwphase2data_update/grid1.csv')

In [12]:
X_train = pd.read_csv('/Users/cbc/Project/Python/DAMCourse/Assignment3/hwphase2data_update/train_2g.csv')

In [13]:
X_train.head()

,TrajID,IMEI,IMSI,MRTime,RNCID_1,CellID_1,Dbm_1,AsuLevel_1,SignalLevel_1,RNCID_2,...,RNCID_6,CellID_6,Dbm_6,AsuLevel_6,SignalLevel_6,Longitude,Latitude,Altitude,Accuracy,Speed
0,0,861374033830412,460012796993062,1507627346,6188,26050,-79,17,4,6188,...,6188,27377,-87,13,4,121.213610,31.289266,23.0,3.0,0.68
1,0,861374033830412,460012796993062,1507627351,6188,26051,-75,19,4,6188,...,6188,27377,-87,13,4,121.213575,31.289228,-7.0,8.0,0.00
2,0,861374033830412,460012796993062,1507627356,6188,26051,-75,19,4,6188,...,6188,27377,-87,13,4,121.213583,31.289263,1.0,5.0,0.00
3,0,861374033830412,460012796993062,1507627359,6188,26051,-73,20,4,6188,...,6188,27377,-85,14,4,121.213605,31.289285,-5.0,7.0,0.00
4,0,861374033830412,460012796993062,1507627362,6188,26051,-73,20,4,6188,...,6188,27377,-83,15,4,121.213596,31.289288,-1.0,4.0,0.00

In [14]:
label = []

In [15]:
u1, u2, _, _ = utm.from_latlon(X_train.values[0][-4], X_train.values[0][-5])
test = np.array([u1, u2])

In [16]:
np.argmin(np.sum(np.square(test - grid.values), axis=1))

666

In [17]:
utm.from_latlon(X_train.values[0][-4], X_train.values[0][-5])

(329964.57556661934, 3463037.539767792, 51, 'R')

In [18]:
for mr in X_train.values:
    u1, u2, _, _ = utm.from_latlon(mr[-4], mr[-5])
    test = np.array([u1, u2])
    label.append(np.argmin(np.sum(np.square(test - grid.values), axis=1)))

In [19]:
len(label)

10047

In [20]:
label_df = pd.DataFrame(data=label,columns=['label'])

In [21]:
label_df.to_csv('/Users/cbc/Project/Python/DAMCourse/Assignment3/hwphase2data_update/label1.csv')

In [ ]:
label_df.values

In [ ]:
for i in label_df.values:
    print(i[0])